name: cd

on:
  push:
    branches:
      - gouhund-vps

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Deploy with SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          script: |
            cd /home/gouhund/composes/robotik/websiterobo
            git checkout gouhund-vps
            git pull origin gouhund-vps
            docker compose up -d --build

